<div>
  <b>Title:</b>
  <%= @article.title %>
</div>

<% @article.article_files.each do |article_file| %>
  <div>
    <b>File:</b>
    <%= link_to article_file.file.file.filename, article_file.file_url %>
  </div>
<% end %>
